DocX/bin/**

DocX/obj/**

Reporter/obj/**

Reporter/bin/**

Debug/**

Release/**

深空探索载人航天器空间辐射风险预估系统/**

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.log
*.tmp
*.tlog
*.pdb
*.idb
*.ilk
*.sdf
*.ipch
*.diagsession
*.db
.vs/OpenGLDemo/v15/.suo
*.opendb
*.db-shm
*.db-wal
*.shader
*.jpg
*.bmp
*.dat
*.cry
*.ttf
*.dt2
*.dt1
*.flx
*.zip
